body {
    background-color: pink;
    text-align: center;
}
header {
    text-align: center;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }